@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Mikkelhm.Models.BlogPost>
@if (Model.Tags.Any())
{
    @foreach (var tag in Model.Tags)
    {
        <text>, <a href="?t=@tag">@tag</a></text>
    }
}