@using Mikkelhm.Core.Frontend;
@using Mikkelhm.Core.Frontend.DisplayModels;
@using System.Web;
@using Umbraco.Cms.Core.PublishedCache;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.BlogHome>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inject ITagQuery _tagQuery;
@{
    var allTags = _tagQuery.GetAllContentTags("Blog");
    var grouped = allTags.Select(x => new WeigthedTag(x.Text, _tagQuery.GetContentByTag(x.Text, "Blog").Count())).ToList();
    var rnd = new Random();
    foreach(var tag in grouped)
    {
        tag.SetWeight(HtmlHelperExtensions.GetTagWeight(tag.Count, 5, grouped.Max(x => x.Count)));
    }
}
<div class="tagcloud">
    <ul>
    @foreach (var tag in grouped.OrderByDescending(x => x.Count).Take(20).OrderBy(_ => rnd.Next()))
    {
            <li class="tag-cloud-@tag.Weight"><a href="@Model.Url()?t=@HttpUtility.UrlEncode(tag.Tag)" title="@tag.Tag">@tag.Tag</a></li>
    }
    </ul>
</div>
<div style="font-style:italic">Running Umbraco Cloud</div>