name: 'Build and Publish to Umbraco Cloud'

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    name: 'Build'
    uses: ./.github/workflows/build.yml

  # cloud-sync:
  #   if: github.ref_name == 'main'
  #   name: 'Synchronize changes with Umbraco Cloud'
  #   needs: build
  #   uses: ./.github/workflows/cloud-sync.yml
  #   with:
  #     targetEnvironmentAlias: ${{ vars.TARGET_ENVIRONMENT_ALIAS }}
  #   secrets:
  #     projectId: ${{ secrets.UMBRACO_CLOUD_PROJECT_ID }}
  #     umbracoCloudApiKey: ${{ secrets.UMBRACO_CLOUD_CICD_API_KEY }}

  cloud-artifact:
    if: github.ref_name == 'main'
    name: 'Prepare and Upload Artifact'
    needs: build
    # needs: cloud-sync
    uses: ./.github/workflows/cloud-artifact.yml
    with:
      newSha: ${{ needs.cloud-sync.outputs.newSha }}
    secrets:
      projectId: ${{ secrets.UMBRACO_CLOUD_PROJECT_ID }}
      umbracoCloudApiKey: ${{ secrets.UMBRACO_CLOUD_CICD_API_KEY }}

  cloud-deployment:
    if: github.ref_name == 'main'
    name: 'Deploy to Umbraco Cloud'
    needs: cloud-artifact
    uses: ./.github/workflows/cloud-deployment.yml
    with:
      artifactId: ${{ needs.cloud-artifact.outputs.artifactId }}
      targetEnvironmentAlias: ${{ vars.TARGET_ENVIRONMENT_ALIAS }}
      noBuildAndRestore: 1
      skipVersionCheck: 1
    secrets:
      projectId: ${{ secrets.UMBRACO_CLOUD_PROJECT_ID }}
      umbracoCloudApiKey: ${{ secrets.UMBRACO_CLOUD_CICD_API_KEY }}